In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("data/eastmoney_topic.csv")

In [3]:
raw_data.columns

Index(['item_title', 'item_author', 'article_author', 'article_source',
       'item_views', 'item_comment_counts', 'article_likes', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'drop_sentiment_score',
       'exclamation_mark', 'question_mark', 'colon_mark', 'cut_titles',
       'topics', 'dominant_topic'],
      dtype='object')

In [4]:
raw_data.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,...,article_source_cate,item_author_cate,sentiment_score,drop_sentiment_score,exclamation_mark,question_mark,colon_mark,cut_titles,topics,dominant_topic
count,6603696,6603696,6.603696e+06,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,...,6.603696e+06,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6603696,6603696,6.603696e+06
unique,6405069,5159,NaN,2045,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5158,NaN,NaN,NaN,NaN,NaN,6398710,6603623,NaN
top,百联股份今日热门盘点,股市胖虎,NaN,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,股市胖虎,NaN,NaN,NaN,NaN,NaN,"['百联', '股份', '今日', '热门', '盘点']","([(0, 0.029347643), (1, 0.029347805), (2, 0.02...",NaN
freq,116,426876,NaN,4179997,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,426876,NaN,NaN,NaN,NaN,NaN,116,10,NaN
mean,NaN,NaN,3.066043e+03,NaN,1.765761e+03,3.481803e+00,2.901667e+00,2.021472e+03,6.593989e+00,5.504324e-01,...,5.135351e+01,NaN,8.064672e-02,7.422822e-02,9.513006e-03,3.120828e-03,4.717293e-01,NaN,NaN,2.017133e+00
std,NaN,NaN,9.817739e+02,NaN,3.372575e+04,2.461240e+01,1.583375e+01,1.164505e+00,3.552674e+00,4.974501e-01,...,5.156044e+01,NaN,1.316210e-01,8.024603e-02,9.706962e-02,5.577714e-02,4.992002e-01,NaN,NaN,1.433674e+00
min,NaN,NaN,0.000000e+00,NaN,2.700000e+01,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00,...,0.000000e+00,NaN,-8.461144e-01,-5.935147e-01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
25%,NaN,NaN,2.223000e+03,NaN,3.410000e+02,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00,...,3.600000e+01,NaN,4.519547e-03,2.477624e-02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,1.000000e+00
50%,NaN,NaN,2.223000e+03,NaN,5.070000e+02,0.000000e+00,1.000000e+00,2.022000e+03,7.000000e+00,1.000000e+00,...,3.600000e+01,NaN,8.821894e-02,7.902518e-02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,2.000000e+00
75%,NaN,NaN,4.069000e+03,NaN,8.310000e+02,1.000000e+00,3.000000e+00,2.022000e+03,1.000000e+01,1.000000e+00,...,3.600000e+01,NaN,1.616404e-01,1.260845e-01,0.000000e+00,0.000000e+00,1.000000e+00,NaN,NaN,3.000000e+00
max,NaN,NaN,5.798000e+03,NaN,7.625000e+07,1.100000e+04,3.250000e+03,2.023000e+03,1.200000e+01,1.000000e+00,...,2.180000e+02,NaN,9.834914e-01,8.806344e-01,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,4.000000e+00

select relevant columns

In [5]:
data = raw_data[['item_title', 'item_author_cate', 'article_author', 'article_source_cate', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'viral', 'sentiment_score', 'topics']]

process topics information

In [6]:
data['topics']

0          ([(0, 0.9085021), (1, 0.02251449), (2, 0.02262...
1          ([(0, 0.022369185), (1, 0.022620665), (2, 0.02...
2          ([(0, 0.023687763), (1, 0.48437315), (2, 0.444...
3          ([(0, 0.01695534), (1, 0.93128335), (2, 0.0172...
4          ([(0, 0.025107827), (1, 0.45474753), (2, 0.469...
                                 ...
6603691    ([(0, 0.015474596), (1, 0.015493545), (2, 0.01...
6603692    ([(0, 0.016933424), (1, 0.016834188), (2, 0.01...
6603693    ([(0, 0.01441427), (1, 0.014414503), (2, 0.014...
6603694    ([(0, 0.0161588), (1, 0.015602509), (2, 0.0157...
6603695    ([(0, 0.022805907), (1, 0.022814138), (2, 0.02...
Name: topics, Length: 6603696, dtype: object

In [7]:
data['topics']

0          ([(0, 0.9085021), (1, 0.02251449), (2, 0.02262...
1          ([(0, 0.022369185), (1, 0.022620665), (2, 0.02...
2          ([(0, 0.023687763), (1, 0.48437315), (2, 0.444...
3          ([(0, 0.01695534), (1, 0.93128335), (2, 0.0172...
4          ([(0, 0.025107827), (1, 0.45474753), (2, 0.469...
                                 ...
6603691    ([(0, 0.015474596), (1, 0.015493545), (2, 0.01...
6603692    ([(0, 0.016933424), (1, 0.016834188), (2, 0.01...
6603693    ([(0, 0.01441427), (1, 0.014414503), (2, 0.014...
6603694    ([(0, 0.0161588), (1, 0.015602509), (2, 0.0157...
6603695    ([(0, 0.022805907), (1, 0.022814138), (2, 0.02...
Name: topics, Length: 6603696, dtype: object

In [8]:
data['topics'] = data['topics'].apply(lambda x: x.strip('()').split('],')[0])

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3440379164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['topics'] = data['topics'].apply(lambda x: x.strip('()').split('],')[0])

In [9]:
data['topics_val'] = data['topics'].apply(lambda x: [float(tup.split(',')[1][1:-1]) for tup in x.strip('[]').split('),')])

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3908983163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['topics_val'] = data['topics'].apply(lambda x: [float(tup.split(',')[1][1:-1]) for tup in x.strip('[]').split('),')])

In [10]:
data['topics_val']

0          [0.908502, 0.0225144, 0.0226205, 0.0230699, 0....
1          [0.02236918, 0.02262066, 0.02255125, 0.0223862...
2          [0.02368776, 0.4843731, 0.44405, 0.02377542, 0...
3          [0.0169553, 0.9312833, 0.01729946, 0.01738391,...
4          [0.02510782, 0.4547475, 0.469367, 0.02524569, ...
                                 ...
6603691    [0.01547459, 0.01549354, 0.0154087, 0.01580536...
6603692    [0.01693342, 0.01683418, 0.0169085, 0.01729223...
6603693    [0.0144142, 0.0144145, 0.01442578, 0.01458773,...
6603694    [0.016158, 0.0156025, 0.01570765, 0.1404835, 0...
6603695    [0.0228059, 0.02281413, 0.02280703, 0.02282915...
Name: topics_val, Length: 6603696, dtype: object

In [11]:
# Convert strings to lists
# data['topics_val'] = data['topics_val'].apply(lambda x: list(map(float, x.strip('[]').split(','))))

# Create separate columns for each value
data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3712250025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())
C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3712250025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())
C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3712250025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())
C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3712250025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())
C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_12724\3712250025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']] = pd.DataFrame(data['topics_val'].tolist())

In [12]:
data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5']]

         topics_val1  topics_val2  topics_val3  topics_val4  topics_val5
0           0.908502     0.022514     0.022621     0.023070     0.023293
1           0.022369     0.022621     0.022551     0.022386     0.910073
2           0.023688     0.484373     0.444050     0.023775     0.024113
3           0.016955     0.931283     0.017299     0.017384     0.017078
4           0.025108     0.454748     0.469367     0.025246     0.025532
...              ...          ...          ...          ...          ...
6603691     0.015475     0.015494     0.015409     0.015805     0.937818
6603692     0.016933     0.016834     0.016908     0.017292     0.932032
6603693     0.014414     0.014415     0.014426     0.014588     0.942158
6603694     0.016158     0.015603     0.015708     0.140484     0.812048
6603695     0.022806     0.022814     0.022807     0.022829     0.908744

[6603696 rows x 5 columns]

In [13]:
data = data.drop(columns=['topics', 'topics_val'])

include stock code

In [14]:
stock_data = pd.read_csv('./data/eastmoney_bert.csv')

In [15]:
data['stock_code'] = stock_data['stock_code']

In [16]:
data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral',
       'sentiment_score', 'topics_val1', 'topics_val2', 'topics_val3',
       'topics_val4', 'topics_val5', 'stock_code'],
      dtype='object')

output processed dataset

In [17]:
data.to_csv('data/eastmoney_bert.csv', index=False)